<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventerstellung</title>
</head>
<body>
    <div>
        <a href="/">
            <button>{{ homebuttontext }}</button>
        </a>
    </div>
    <div>
        <form action="{{ formlink }}" method="post">
            <div class="input">
                <label for="name">Eventname: </label><input type="text" name="name" id="name" value="{{ name }}" required>
            </div>
            <div class="date">
                <label for="datetime">Datum und Uhrzeit: </label><input type="datetime-local" name="datetime" id="datetime" value="{{ datetime }}" required>
            </div>
            <div class="dropdown">
                <label for="type">Art des Treffens: </label><select name="type" id="type" onchange="onchange" value="{{ type }}" required>
                    <option value="{{ EventType.ON_SITE }}">Vor Ort</option>
                    <option value="{{ EventType.ONLINE }}">Online</option>
                </select>
            </div>
            <script>
                // Meine ersten und hoffentlich letzten Zeilen JavaScript, die ich in einem Projekt schreiben muss.
                // Ich habe, durch das einbinden von JavaScript, für einen Fehler, der garnicht mal an JavaScript lag,
                // sondern an Microsoft Edge, um die 50 Minuten verschwendet...
                onchange = function () {
                    eventtypeSelection = document.getElementById("type");
                    if (eventtypeSelection.value === "{{  EventType.ONLINE }}") {
                        document.getElementById("onsiteinput").setAttribute("hidden","");
                    } else {
                        document.getElementById("onsiteinput").removeAttribute("hidden");
                    }
                }
            </script>
            <div id="onsiteinput">
                <div class="input">
                    <label for="country">Land: </label><input type="text" name="country" id="country" value="{{ country }}">
                </div>
                <div class="input">
                    <label for="city">Stadt: </label><input type="text" name="city" id="city" value="{{ city }}">
                </div>
                <div class="input">
                    <label for="zipcode">Postleitzahl: </label><input type="number" name="zipcode" id="zipcode" value="{{ zipcode }}">
                </div>
                <div class="input">
                    <label for="street">Strasse: </label><input type="text" name="street" id="street" value="{{ street }}">
                </div>
                <div class="input">
                    <label for="housenumber">Hausnummer: </label><input type="text" name="housenumber" id="housenumber" value="{{ housenumber }}">
                </div>
            </div>
            <div class="input">
                <label for="description">Beschreibung: </label> <br>
                <textarea name="description" id="description">{{ description }}</textarea>
            </div>
            <div class="submit">
                {% if ismodify %}
                <input type="hidden" name="eventid" value="{{ eventid }}">
                <input type="submit" id="submit" name="submit" value="Änderungen speichern">
                {% else %}
                <input type="submit" id="submit" name="submit" value="Event erstellen">
                {% endif %}
            </div>
        </form>
        {% if isonline %}
        <script>document.getElementById("onsiteinput").setAttribute("hidden","");</script>
        {% endif %}
        {% if ismodify %}
        <script type="text/javascript">document.getElementById("datetime").value = "{{ formatedTime }}"</script>
        {% endif %}
    </div>
</body>
</html>