<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event creation</title>
</head>
<body>
    <div>
        <a href="/">
            <button>{{ homebuttontext }}</button>
        </a>
    </div>
    <div>
        <form action="{{ formlink }}" method="post">
            <div class="input">
                <label for="name">Eventname: </label><input type="text" name="name" id="name" value="{{ name }}" required>
            </div>
            <div class="date">
                <label for="datetime">Date and time: </label><input type="datetime-local" name="datetime" id="datetime" value="{{ datetime }}" required>
            </div>
            <div class="dropdown">
                <label for="type">Location:</label><select name="type" id="type" onchange="onchange" value="{{ type }}" required>
                    <option value="{{ EventType.ON_SITE }}">Vor Ort</option>
                    <option value="{{ EventType.ONLINE }}">Online</option>
                </select>
            </div>
            <script>
                // My first and hopefully last lines of JavaScript, that I have to write in a project.
                // By integrating JavaScript into my project, I wasted 50 minutes of my life trying to fix a bug that
                // ended up not even being JavaScript's fault.
                onchange = function () {
                    eventtypeSelection = document.getElementById("type");
                    if (eventtypeSelection.value === "{{  EventType.ONLINE }}") {
                        document.getElementById("onsiteinput").setAttribute("hidden","");
                    } else {
                        document.getElementById("onsiteinput").removeAttribute("hidden");
                    }
                }
            </script>
            <div id="onsiteinput">
                <div class="input">
                    <label for="country">Country: </label><input type="text" name="country" id="country" value="{{ country }}">
                </div>
                <div class="input">
                    <label for="city">City: </label><input type="text" name="city" id="city" value="{{ city }}">
                </div>
                <div class="input">
                    <label for="zipcode">Zipcode: </label><input type="number" name="zipcode" id="zipcode" value="{{ zipcode }}">
                </div>
                <div class="input">
                    <label for="street">Street: </label><input type="text" name="street" id="street" value="{{ street }}">
                </div>
                <div class="input">
                    <label for="housenumber">House number: </label><input type="text" name="housenumber" id="housenumber" value="{{ housenumber }}">
                </div>
            </div>
            <div class="input">
                <label for="description">Description: </label> <br>
                <textarea name="description" id="description">{{ description }}</textarea>
            </div>
            <div class="submit">
                {% if ismodify %}
                <input type="hidden" name="eventid" value="{{ eventid }}">
                <input type="submit" id="submit" name="submit" value="Changes saved">
                {% else %}
                <input type="submit" id="submit" name="submit" value="Create an event">
                {% endif %}
            </div>
        </form>
        {% if isonline %}
        <script>document.getElementById("onsiteinput").setAttribute("hidden","");</script>
        {% endif %}
        {% if ismodify %}
        <script type="text/javascript">document.getElementById("datetime").value = "{{ formatedTime }}"</script>
        {% endif %}
    </div>
</body>
</html>