<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>Entries</title>
</head>
<body>
    <div>
        <a href="/">
            <button>{{ homebuttontext }}</button>
        </a>
    </div>
    <div>
        <style>.text{font-family: Arial, Helvetica, sans-serif} .header{font-family: Arial;}</style>
        <div class="header" style="margin: auto;width: 50%;padding: 10px;text-align: center;">
            <h1>All registered Events</h1>
        </div>
        {% for event in events %}
        <div class="wholeevent" style="margin: 25%; margin-bottom: 2%; margin-top: 2%;">
            <div class="eventdetails" style="border-color:black; border-style: solid;">
                <div class="text" style="margin-left: 1%; text-align: center; font-size: 120%;">
                    <h2><strong>Organizer</strong>: {{ getorganizer(event) }}</h2>
                </div>
                {% for index, key in enumerate(eventmanager.KEYS_FOR_OUTPUT) %}
                <div class="text" style="margin-left: 1%;">
                    {% if list(event)[index] %}
                    <p><strong>{{ key }}</strong>: {{ list(event)[index] }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <form action="/entries" method="post" >
                <input type="submit" value="Delete entry" id="{{ event.eventid }}" name="{{ event.eventid }}" style="margin-top: 0.3%;">
            </form>
        </div>
        {% endfor %}
    </div>
</body>
</html>