<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>Events</title>
</head>
<body>
    <style>.text{font-family: Arial, Helvetica, sans-serif} .header{font-family: Arial;}</style>
    <div class="header" style="margin: auto;width: 50%;padding: 10px;text-align: center;">
    <h1>Alle Events</h1>
    </div>
    {% for event in events %}
    <div class="wholeevent" style="margin: 25%; margin-bottom: 2%; margin-top: 2%;">
        <div class="eventdetails" style="border-color:black; border-style: solid;">
            <div class="text" style="margin-left: 1%; text-align: center; font-size: 120%;">
                <h2><strong>Veranstalter</strong>: {{ getorganizer(event) }}</h2>
            </div>
            <div class="text" style="margin-left: 1%;">
                {% for index, key in enumerate(eventmanager.KEYS_FOR_OUTPUT) %}
                <p><strong>{{ key }}</strong>: {{ list(event)[index] }}</p>
                {% endfor %}
            </div>
        </div>
        {% if loggedin %}
        <form action="/events" method="post" >
            <input type="submit" value="Zum Event eintragen" id="{{ event.eventid }}" name="{{ event.eventid }}" style="margin-top: 0.5%;">
        </form>
        {% endif %}
    </div>
    {% endfor %}
    {% if isredirect %}
    <script type="text/javascript">alert('You have already entered the event')</script>
    {% endif %}
</body>
</html>